<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Edit Hotel - Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/75b65e628f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/css/style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/admin/dashboard">Guest House</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/booking">Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/hotel">Hotel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/room">Room</a>
                        </li>
                       <li class="nav-item">
                            <a class="nav-link" href="/admin/user">User</a>
                        </li>
                        <li class="nav-item me-md-3">
                            <a class="nav-link" href="/admin/report">Report</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% if error_message %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <div class="container">
                    {{ error_message }}
                </div>
            </div>
        {% endif %}

        <div class="container mt-4">
            <div class="d-flex align-items-center justify-content-between" style="margin-bottom: 16px;">
                <div class="d-flex align-items-center" style="margin-bottom: 6px;">
                    <i class="fas fa-chevron-circle-left" onclick="window.location = '/admin/hotel'" style="margin-right: 16px;font-size: 28px;cursor:pointer;"></i>
                    <h3 style="margin: 0;">Edit Hotel</h3>
                </div>
            </div>

            <form method="post">
                {{form.csrf_token}}

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-10">
                            <fieldset class="form-field">
                                {{ form.name.label(class_="form-label") }}
                                {{ form.name(class_="form-control", value=hotel[1]) }}
                                {% if form.name.errors %}
                                    <ul class="form-error">
                                        {% for error in form.name.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                        </div>
                        <div class="col-md-10">
                            <fieldset class="form-field">
                                {{ form.phone_number.label(class_="form-label") }}
                                {{ form.phone_number(class_="form-control", value=hotel[2]) }}
                                {% if form.phone_number.errors %}
                                    <ul class="form-error">
                                        {% for error in form.phone_number.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                        </div>

                        <div class="col-md-10">
                            <fieldset class="form-field">
                                {{ form.location.label(class_="form-label") }}
                                {{ form.location(class_="form-control", value=hotel[3]) }}
                                {% if form.location.errors %}
                                    <ul class="form-error">
                                        {% for error in form.location.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                        </div>

                        <div class="col-md-10">
                            <fieldset class="form-field">
                                {{ form.rating.label(class_="form-label") }}
                                {{ form.rating(class_="form-control", value=hotel[4]) }}
                                {% if form.rating.errors %}
                                    <ul class="form-error">
                                        {% for error in form.rating.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                        </div>

                        <div class="col-md-10 mt-4">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
